<!-- @format -->

{% include 'Dashboard/base2.html' %}
{% load static %}
  <body>
    <main id="main" class="main">
      <div class="pagetitle">
        {% comment %} <h1>Dashboard</h1> {% endcomment %}
        {% comment %} <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
          </ol>
        </nav> {% endcomment %}
      </div>
      <!-- End Page Title -->

      <section class="section dashboard">
          <!-- Left side columns -->
          <div class="col-lg-12">
            <div class="row">
               <!--Income-->
              <div class="col-lg-3 col-md-12">
               <div class="card info-card customers-card">
               <a class="icon" href="#">
               <div class="card-body py-3 d-flex flex-row justify-content-space align-items-center">
               <div class="card-icon rounded-circle  mb-2">
                 <i class="bi bi-currency-rupee text-success"></i>
               </div>
               <h5 class="card-title mx-3">Income</h5>
               <h6>22</h6>
               </div>
              </a>
             </div>
            </div>
               <!--Low Stock-->
              <div class="col-lg-3 col-md-12">
               <div class="card info-card customers-card">
               <a class="icon" href="#">
               <div class="card-body py-3 d-flex flex-row justify-content-space align-items-center">
               <div class="card-icon rounded-circle  mb-2">
                 <i class="bi bi-graph-down-arrow text-danger"></i>
               </div>
               <h5 class="card-title mx-3">Low Stock</h5>
               <h6>22</h6>
               </div>
              </a>
             </div>
            </div>
              <!--End Card-->
             <!--Report-->
              <div class="col-lg-3 col-md-12">
               <div class="card info-card customers-card">
               <a class="icon" href="#">
               <div class="card-body py-3 d-flex flex-row justify-content-space align-items-center">
               <div class="card-icon rounded-circle  mb-2">
                 <i class="bi bi-clipboard2-data text-warning"></i>
               </div>
               <h5 class="card-title mx-3">Report</h5>
               <h6>22</h6>
               </div>
              </a>
             </div>
            </div>
     
          
      </div>
  </section>
<section class="section dashboard sec-2">
 
</section>



    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
      <div class="copyright">
        &copy; Copyright <strong>. All Rights Reserved</strong>
      </div>
      <div class="credits">
        Designed by <a href="#"><strong> JTECH VENTURES</strong
        ></a>
      </div>
    </footer>
    <!-- End Footer -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->

</body>

